<div class="songs-page">

  <h1 class="page-title"></h1>
    <!-- SEARCH BAR -->
<div class="search-box">
  <span class="search-icon">🔍</span>

  <input
    type="text"
    placeholder="Search songs..."
    [(ngModel)]="searchText"
    (input)="filterSongs()">
</div>

<div class="song-list">

  <div class="song-card"
       *ngFor="let song of filteredSongs"
       [class.active]="song.id === playerService.currentSong?.id"
       (click)="playSong(song)">

    <div class="song-left">
      <img [src]="song.imageUrl" class="song-cover" alt="cover">
      <div class="song-text">
        <h3>{{ song.title }}</h3>
        <p>{{ song.artist }}</p>
      </div>
    </div>

<button class="play-btn"
        (click)="playSong(song)">

  <span *ngIf="playerService.currentSong?.id === song.id && playerService.isPlaying">
    ⏸
  </span>

  <span *ngIf="playerService.currentSong?.id !== song.id || !playerService.isPlaying">
    ▶
  </span>

</button>

  </div>

</div>

  <!-- <div class="song-list">

    <div class="song-card"
         *ngFor="let song of songs"
         (click)="playSong(song)"> -->

      <!-- LEFT -->
      <!-- <div class="song-left"> -->
<!-- 
        <div class="song-avatar">
          🎧
        </div> -->  

        <!-- <div class="song-text">
          <h3>{{ song.title }}</h3>
          <p>{{ song.artist }}</p>
        </div>

      </div> -->

      <!-- RIGHT PLAY BUTTON -->
      <!-- <button class="play-btn">
        ▶
      </button>

    </div>

  </div> -->

</div>