.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  

  height: 70px;

  background: #121212;
  border-top: 1px solid #2a2a2a;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}

.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: #b3b3b3;

  transition: 0.3s;
}

.navbar a span {
  font-size: 22px;
}

.navbar a small {
  font-size: 11px;
  margin-top: 4px;
}

.navbar a:hover,
.navbar a.active {
  color: #1db954;
}

/* Desktop */
@media (min-width: 769px) {
  .navbar {
    top: 0;
    bottom: auto;

    height: 70px;

    border-top: none;
    border-bottom: 1px solid #2a2a2a;
  }

  .navbar a {
    flex-direction: row;
    gap: 8px;
  }

  .navbar a small {
    font-size: 14px;
    margin-top: 0;
  }
}
app-navbar {
  position: sticky;
  top: 0;
  z-index: 200;
}