<nav class="navbar">

  <!-- LEFT: LOGO -->
  <div class="nav-left">
    <a routerLink="/" class="logo">
      <!-- <span class="logo-icon">🎵</span> -->
      <span class="logo-text">R Music</span>
    </a>
  </div>

  <!-- CENTER: MENU -->
  <div class="nav-center">

    <a routerLink="/" routerLinkActive="active">Home</a>

    <a routerLink="/songs" routerLinkActive="active">Songs</a>

    <a routerLink="/playlists" routerLinkActive="active">Playlists</a>

    <!-- <a routerLink="/podcasts" routerLinkActive="active">Podcasts</a>

    <a routerLink="/pro" class="pro">Go Pro</a> -->

  </div>

  <!-- RIGHT: AUTH -->
  <div class="nav-right">

    <button class="login-btn">Login</button>

    <button class="signup-btn">Sign Up</button>

  </div>

</nav>