<div class="playlist-page">

  <h1>Playlists</h1>

  <!-- PLAYLIST GRID -->
  <div class="playlist-grid" *ngIf="!selectedPlaylist">

    <div class="playlist-card"
         *ngFor="let pl of playlists"
         (click)="openPlaylist(pl)">

      <img [src]="pl.imageUrl" />

      <h3>{{ pl.name }}</h3>

    </div>

  </div>

  <!-- PLAYLIST DETAILS -->
  <div class="playlist-details" *ngIf="selectedPlaylist">

    <button class="back-btn" (click)="selectedPlaylist = null">
      ← Back
    </button>

    <h2>{{ selectedPlaylist.name }}</h2>

    <div class="song-list">

      <div class="song-card"
           *ngFor="let song of selectedPlaylist.songs; let i = index">

        <div>
          <h3>{{ song.title }}</h3>
          <p>{{ song.artist }}</p>
        </div>

        <button (click)="playSong(song, i)">
          ▶ Play
        </button>

      </div>

    </div>
  </div>

  <!-- PLAYER -->
  <div *ngIf="selectedSong" class="player">

    <h3>Now Playing 🎶</h3>
    <p>{{ selectedSong.title }} - {{ selectedSong.artist }}</p>

    <div class="controls">

      <button (click)="prev()">⏮</button>
      <button (click)="next()">⏭</button>

    </div>

    <audio controls autoplay [src]="selectedSong.songUrl"></audio>

  </div>

</div>