<div class="playlist-page">

  <h1>Browse Playlists</h1>

  <div class="playlist-grid">

    <div
      class="playlist-card"
      *ngFor="let playlist of playlists" (click)="openPlaylist(playlist.id)">
      <img
        [src]="playlist.imageUrl"
        alt="playlist">

      <h3>{{ playlist.name }}</h3>

    </div>

  </div>
  <div *ngIf="songs.length > 0">

  <h2>Songs</h2>

  <div
    class="song-card"
    *ngFor="let song of songs">

    <div>
      <h3>{{ song.title }}</h3>
      <p>{{ song.artist }}</p>
    </div>

    <button
      (click)="playSong(song)">
      ▶ Play
    </button>

  </div>

</div>

</div>
<div
  class="player"
  *ngIf="selectedSong">

  <h3>
    Now Playing
  </h3>

  <p>
    {{ selectedSong.title }}
  </p>

  <audio controls autoplay>

    <source
      [src]="selectedSong.songUrl"
      type="audio/mpeg">

  </audio>

</div>