<div class="playlist-page">

  <h1 class="page-title"></h1>

  <!-- GRID -->
  <div class="playlist-grid" *ngIf="!selectedPlaylist">

    <div class="playlist-card"
         *ngFor="let pl of playlists"
         (click)="openPlaylist(pl)">

      <div class="playlist-image">
        <img [src]="pl.imageUrl" />
      </div>

      <div class="playlist-info">
        <h3>{{ pl.name }}</h3>
        <p>{{ pl.songs.length}} Songs</p>
      </div>
<!-- 
      <button class="play-btn">
        ▶
      </button> -->

    </div>

  </div>

  <!-- DETAILS -->
  <!-- PLAYLIST DETAILS -->
<div class="playlist-details" *ngIf="selectedPlaylist">

  <button class="back-btn" (click)="selectedPlaylist = null">
    ← Back
  </button>

  <!-- 🔥 TOP SECTION (ALBUM HEADER) -->
  <div class="playlist-header">

    <img [src]="selectedPlaylist.imageUrl" class="playlist-cover" />

    <div class="playlist-meta">

      <h2>{{ selectedPlaylist.name }}</h2>

      <p>{{ selectedPlaylist.songs?.length }} songs</p>

<button class="play-all-btn" (click)="playAll()">
  ▶ Play All
</button>

    </div>

  </div>

  <!-- 🔥 SONG LIST -->
  <div class="song-list">

    <div class="song-card"
         *ngFor="let song of selectedPlaylist.songs; let i = index">

      <div class="song-info">


        <div class="song-text">
        <h3>{{ song.title }}</h3>
        <p>{{ song.artist }}</p>
        </div>

      </div>

      <button class="play-btn" (click)="playSong(song)">
        ▶
      </button>

    </div>

  </div>

</div>

</div>